<div class="mx-4">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <span class="alert-icon fas fa-exclamation-circle" aria-hidden="true"></span>
    Something to be aware of to encourage caution.
  </div>
</div>
