<div class="btn-container mx-4">
  <div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary">
          <span class="icon fas fa-check me-1" aria-hidden="true"></span>
          Primary Action
        </button>
        <button
          type="button"
          class="btn btn-outline-ui"
          data-toggle="modal"
          data-target="#ModalID"
          data-bs-toggle="modal"
          data-bs-target="#ModalID">
          Third (Modal)
        </button>
        <button type="button" class="btn btn-link">Fourth</button>
        <button type="button" class="btn btn-warning ms-auto">
          <span class="icon fas fa-exclamation-circle me-1" aria-hidden="true"></span>
          Warning
        </button>
        <button type="button" class="btn btn-danger">
          <span class="icon fas fa-trash-alt me-1" aria-hidden="true"></span>
          Danger
        </button>
      </div>
    </div>
  </div>
</div>
