<div class="content-container">
  <!-- add content, in here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="form-section-header">
          <h2 class="legend mb-1">Form Elements</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="inputTextBox199" class="label form-label">Input Text Label</label>
          <input type="text" class="form-control" id="inputTextBox199">
          <small>This accepts any kind of alphanumeric characters.</small>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="selectChoices">Label for Select</label>
          <select class="custom-select form-select" id="selectChoices">
            <option selected>&mdash; Select a Numeral &mdash;</option>
            <option value="1">1 (One)</option>
            <option value="2">2 (Two)</option>
            <option value="3">3 (Three)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <p class="label">Group of Checkboxes</p>
          <div class="custom-control custom-checkbox form-check form-check-inline">
            <input type="checkbox" class="custom-control-input form-check-input" id="checkboxValue1">
            <label class="custom-control-label form-check-label" for="checkboxValue1">Value 1</label>
          </div>
          <div class="custom-control custom-checkbox form-check form-check-inline">
            <input type="checkbox" class="custom-control-input form-check-input" id="checkboxValue2" checked>
            <label class="custom-control-label form-check-label" for="checkboxValue2">Value 2</label>
          </div>
          <div class="custom-control custom-checkbox form-check form-check-inline">
            <input type="checkbox" class="custom-control-input form-check-input" id="checkboxValue5" disabled>
            <label class="custom-control-label form-check-label" for="checkboxValue5">Value 5</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <p class="label">Which will you choose?</p>
          <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" id="toggleTokenField01">
            <label class="form-check-label" for="toggleTokenField01">
              <span class="icon fas fa-square" aria-hidden="true"></span>
              <span class="icon fas fa-check-square" aria-hidden="true"></span>
              Choice 1
            </label>
          </div>
          <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" id="toggleTokenField02">
            <label class="form-check-label" for="toggleTokenField02">
              <span class="icon fas fa-square" aria-hidden="true"></span>
              <span class="icon fas fa-check-square" aria-hidden="true"></span>
              Choice 2
            </label>
          </div>
          <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" id="toggleTokenField03" checked disabled>
            <label class="form-check-label" for="toggleTokenField03">
              <span class="icon fas fa-square" aria-hidden="true"></span>
              <span class="icon fas fa-check-square" aria-hidden="true"></span>
              Choice 3
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <p class="label">Group of Radios</p>
          <div class="custom-control custom-radio form-check form-check-inline">
            <input
              type="radio"
              class="custom-control-input form-check-input"
              id="radioValue1"
              name="radioChoice"
              checked>
            <label class="custom-control-label form-check-label" for="radioValue1">Value 1</label>
          </div>
          <div class="custom-control custom-radio form-check form-check-inline">
            <input type="radio" class="custom-control-input form-check-input" id="radioValue2" name="radioChoice">
            <label class="custom-control-label form-check-label" for="radioValue2">Value 2</label>
          </div>
          <div class="custom-control custom-radio form-check form-check-inline">
            <input
              type="radio"
              class="custom-control-input form-check-input"
              id="radioValue3"
              name="radioChoice"
              disabled>
            <label class="custom-control-label form-check-label" for="radioValue3">Value 3</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <p class="label">Which will you choose?</p>
          <div class="form-check toggle-token">
            <input
              class="form-check-input"
              type="radio"
              name="exclusiveChoice01"
              id="toggleTokenField11"
              value="Exclusive Choice 1">
            <label class="form-check-label" for="toggleTokenField11">
              <span class="icon fas fa-circle" aria-hidden="true"></span>
              <span class="icon fas fa-dot-circle" aria-hidden="true"></span>
              Choice 1
            </label>
          </div>
          <div class="form-check toggle-token">
            <input
              class="form-check-input"
              type="radio"
              name="exclusiveChoice01"
              id="toggleTokenField12"
              value="Exclusive Choice 2">
            <label class="form-check-label" for="toggleTokenField12">
              <span class="icon fas fa-circle" aria-hidden="true"></span>
              <span class="icon fas fa-dot-circle" aria-hidden="true"></span>
              Choice 2
            </label>
          </div>
          <div class="form-check toggle-token">
            <input
              class="form-check-input"
              type="radio"
              name="exclusiveChoice01"
              id="toggleTokenField13"
              value="Exclusive Choice 3"
              disabled>
            <label class="form-check-label" for="toggleTokenField13">
              <span class="icon fas fa-circle" aria-hidden="true"></span>
              <span class="icon fas fa-dot-circle" aria-hidden="true"></span>
              Choice 3
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="inputDate299" class="label form-label">Input Date Label</label>
          <input type="date" class="form-control" id="inputDate299">
          <small>This tells the browser to present its own optimized date-entry user interface.</small>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="inputTelBox399" class="label form-label">Input Tel Label</label>
          <input type="tel" class="form-control" id="inputTelBox399">
          <small>On mobile browsers this presents a phone number-optimized UI.</small>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="inputEmail499" class="label form-label">Input Email Label</label>
          <input type="email" class="form-control" id="inputEmail499">
          <small>On mobile browsers this presents an email-optimized UI.</small>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="formFile" class="label form-label">Upload File</label>
          <input class="form-control" type="file" id="formFile">
          <small>This presents a file-selection UI.</small>
        </div>
      </div>
    </div>
  </div>
</div>
