<div class="content-container">
  <!-- add content, in here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="form-section-header">
          <h2 class="legend mb-1">Form Elements</h2>
        </div>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-12">
        <button type="button" class="btn btn-outline-ui">
          <span class="icon fas fa-pencil-alt" aria-hidden="true"></span>
          Edit This Section
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="inputTextBox199" class="label form-label">Input Text Label</label>
          <input type="text" class="form-control" id="inputTextBox199">
          <small>This accepts any kind of alphanumeric characters.</small>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="selectChoices">Label for Select</label>
          <select class="custom-select form-select" id="selectChoices">
            <option selected>&mdash; Select a Numeral &mdash;</option>
            <option value="1">1 (One)</option>
            <option value="2">2 (Two)</option>
            <option value="3">3 (Three)</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="form-group">
          <label for="staticEmail" class="label form-label">Label</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="col-12 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="minor">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <button type="button" class="btn btn-outline-ui">
          <span class="icon fas fa-print" aria-hidden="true"></span>
          Supporting Button
        </button>
        <button type="button" class="btn btn-outline-ui">
          <span class="icon fas fa-envelope" aria-hidden="true"></span>
          Supporting Button
        </button>
      </div>
    </div>
  </div>
</div>
