<div class="feature-cta-double bg-secondary">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <h2 class="feature-big-text">Some extra facts</h2>
        <p class="feature-small-text">
          Still not convinced? Check out these two extra cool things about this site. These two things will certainly
          convince you now.
        </p>
      </div>
      <div class="col-md-6 offset-lg-1 col-lg-5">
        <div class="row">
          <div class="col-12 text-center">
            <div class="d-block d-md-inline">
              <a href="#" class="btn btn-white"
                >Thing 1<span class="icon fas fa-arrow-right ms-1" aria-hidden="true"></span
              ></a>
            </div>
            <div class="d-block d-md-inline">
              <a href="#" class="btn btn-white"
                >Thing 2<span class="icon fas fa-arrow-right ms-1" aria-hidden="true"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
