<div class="hero-solo-pane">
  <div class="row no-gutters">
    <div
      class="col-lg-6 half-left"
      style="background-image: url('https://i.ibb.co/Xt9tVG7/pexels-photo-275030-1.png');">
      <img
        src="https://i.ibb.co/Xt9tVG7/pexels-photo-275030-1.png"
        alt="A building shaped like a person."
        class="img-fluid">
    </div>
    <div class="col-lg-6 half-right bg-secondary">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
          <div class="col-10 col-lg-8">
            <h1 class="hero-big-text">Site Title</h1>
            <p class="hero-small-text">
              In just a few words, explain the great benefit which your users will get from this website. Then take them
              to the next step.
            </p>
            <a href="/portal" class="btn btn-white btn-lg"
              >Go to the next step<span class="icon fas fa-arrow-right ms-1" aria-hidden="true"></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
