<div id="wrapper-topbar" class="wrapper-topbar">
  <p class="m-0 fw-bold order-lg-2 me-auto">
    <a href="#" class="d-md-none text-white text-decoration-none" tabindex="2">
      <span class="d-md-none">LDWF</span>
      <span class="d-none d-md-inline">Current Page Title</span>
    </a>
  </p>
  <button
    id="sidebar-button"
    class="btn btn-sm sidebar-button"
    aria-haspopup="true"
    aria-controls="sidebar"
    tabindex="3">
    <span class="icon fas fa-fw fa-bars" aria-hidden="true"></span>
  </button>
</div>
